# Ignore build outputs
bin/
obj/

# Ignore Rider/VSCode/Visual Studio IDE files
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build logs and temp
*.log
*.tmp

# Ignore publish output
publish/